body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginPage {
  background-image: url(/images/PantryKingTable.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#loginFormButton {
  background: #63bb6e;
  color: #ffffff;
}

#bottomHeader {
  background-color: #f8f8f9;
}

.signUp {
  background: #f8f8f9;
}

.signUpLogo {
  margin: 10px;
}

#signUpButton {
  background: #63bb6e;
  color: #ffffff;
  margin: 10px;
}
