body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginPage {
  background-image: url(/images/PantryKingBackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.loginFormLogo {
  background: #93a2a5;
}

#loginFormButton {
  background: #5aa063;
}
